@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
header {
  padding: 0%;
  box-shadow: 3px 3px 6px #999;
  font-size: larger;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navbar-toggler {
  margin-top: 15px;
  margin-bottom: 10px;
  color: aliceblue;
  background-color: aliceblue;
}

.nav-link {
  color: tan;
}

.nav-link:hover {
  color: white !important;
}

.logo {
  margin-left: 10px;
  max-width: 300px;
  cursor: pointer;
}

html {
  width: 80%;
  min-height: 100%;
  position: relative;
  margin: auto;
  box-shadow: 3px 3px 6px #999;
}

main {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

body {
  width: 100%;
  margin: auto;
}

.fb {
  max-width: 35px;
  max-height: 35px;
  margin-left: 20px;
  margin-right: 10px;
}

.tw {
  max-width: 35px;
  max-height: 35px;
  margin-right: 10px;
}

.insta {
  max-width: 35px;
  max-height: 35px;
  margin-right: 10px;
}

footer {
  margin-top: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: tan;
  font-size: medium;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

.redes {
  margin-top: 10px;
  margin-bottom: 10px;
}

.midfootertext {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3);
}

.gemsdescription {
  width: 95%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px;
  box-shadow: 3px 3px 6px #999;
}

.carousel {
  box-shadow: 3px 3px 6px #999;
}

h1 {
  margin: 50px;
}

.card1 {
  height: 478px;
}

.cardsoluciones {
  margin: 20px;
}

#soluciones {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: 3px 3px 6px #999;
  padding: 40px;
  width: 95%;
  margin: auto;
}

.img {
  width: auto;
  height: 320px;
}

.buttonmain {
  text-align: center;
  padding-bottom: 15px;
  width: 100%;
}

.btn {
  box-shadow: 3px 3px 6px #999;
  background-color: blue;
  color: white;
  border: none;
}

.card-body {
  text-align: center;
}

#vermasbutton {
  padding: 9px 25px;
  border-radius: 10px 25px;
  border-style: none;
  margin-top: 20px;
}

.tittlediv {
  width: 100%;
}

.tittlemapa {
  box-shadow: 3px 3px 6px #999;
  margin: auto;
  border-radius: 15px;
  background-color: black;
  color: tan;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 9px 25px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.solindex {
  box-shadow: 3px 3px 6px #999;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  background-color: black;
  color: tan;
  font-weight: lighter;
  padding: 10px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.mapaindex {
  box-shadow: 3px 3px 6px #999;
  align-content: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding: 25px;
  width: 95%;
}

.mapa1 {
  width: 100%;
  height: 480px;
}

#mainprod {
  box-shadow: 3px 3px 6px #999;
  width: 80%;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.sobrenosotros {
  width: 80%;
  margin: auto;
  box-shadow: 3px 3px 6px #999;
  padding: 30px;
}

.pcenter {
  font-weight: bold;
  color: blue;
  text-align: center;
}

.tittlescontact {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  width: 80%;
  box-shadow: 3px 3px 6px #999;
  margin-top: 30px;
  margin-bottom: 10px;
}

.contacttittle {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
}

.contactsecundarytittle {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  margin: auto;
  background-color: black;
  color: tan;
  padding: 15px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  box-shadow: 3px 3px 6px #999;
  border-radius: 15px;
}

.contactconteiner {
  box-shadow: 3px 3px 6px #999;
  padding-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-flow: row wrap;
}

.infocontacto {
  width: 50%;
}

.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "gr1 gr1 " "gr2 gr2" "gr3 gr3" "gr4 gr4" "gr5 gr5";
}

.inputarea {
  margin: auto;
  background-color: lightgrey;
  border: none;
  padding: 15px;
}

.gr1 {
  margin: 10px;
  grid-area: gr1;
}

.gr2 {
  margin: 10px;
  grid-area: gr2;
}

.gr3 {
  margin: 10px;
  grid-area: gr3;
}

.gr4 {
  margin: 10px;
  grid-area: gr4;
}

.gr5 {
  margin: 10px;
  grid-area: gr5;
}

#comentario {
  background-color: lightgrey;
  border: none;
}/*# sourceMappingURL=main.css.map */