html {
    min-height: 100%;
    position: relative;
    margin: auto;
    box-shadow: $sombracaja;
}

main {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}