.maincontacto {
    margin-top: 30px;
    width: 95%;
    box-shadow: $sombracaja;
    margin-bottom: 200px;
}

.tittlescontact {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.contacttittle {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
}

.contactsecundarytittle {
    @include blackbuttons;
    border-radius: map-get($map: $border, $key: 'recto');
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

.contactconteiner {
    padding-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-flow: row wrap;
}

.infocontacto {
    text-align: center;
    width: 80%;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "gr1 gr1 "
    "gr2 gr2"
    "gr3 gr3"
    "gr4 gr4"
    "gr5 gr5";
}

.inputarea {
    margin: auto;
    background-color: lightgrey;
    border: none;
    padding: 15px;
}

.gr1 {
    margin: 10px;
    grid-area: gr1;
}

.gr2 {
    margin: 10px;
    grid-area: gr2;
}
.gr3 {
    margin: 10px;
    grid-area: gr3;
}
.gr4 {
    margin: 10px;
    grid-area: gr4;
}

.gr5 {
    margin: 10px;
    grid-area: gr5;
}    

.sendbutton {
    border-radius: map-get($map: $border, $key: 'redondo');
}

#comentario {
    background-color: lightgrey;
    border: none;
}