header {
    box-shadow: $sombracaja;
    background-color: black;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.navbar-toggler {
    color: tan;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.nav-link {
    color: tan;
}

.nav-link:hover{
    color:white !important;
}

.logo {
    margin: 10px;
   
    max-width: 300px;
    margin-left: 10px;
}

.logoposition {
    display: flex;
    align-items: center;
}

.navbar-nav {
    margin-left: 10px;
    margin-right: 10px;
}