.sobrenosotros {
    margin: auto;
    box-shadow: $sombracaja;
    padding: 30px;
}

.pcenter {
    font-weight: bold;
    color: blue;
    text-align: center;
}

#nosotrosmain {
    width: 95%;
    text-align: center;
}

.wetittle {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: 50px;
}