#mainprod {
    box-shadow: $sombracaja;
    width: 70%;
    margin-top: 50px;
}

.card2 {
    padding: 10px;
    text-align: center;
    margin: auto;
}

.productcards {
    margin: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}