#mainprod {
    box-shadow: $sombracaja;
    width: 90%;
    margin-top: 10px;
}

.card2 {
    padding: 10px;
    text-align: center;
    margin: 0px auto;
}

.productcards {
    margin: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}